


.col-lg-4, .col-md-6, .col-sm-12 {

}

p {
	background-color: gray; 
	border: 2px solid black; 
	box-sizing: border-box; 
	margin: 20px; 	
	padding: 15px;
}

h1 {
  margin-bottom: 15px;
  text-align: center; 
}

h2 {
  border: 2px solid black;
  font-family: Helvetica; 
  font-size: 15px;
  text-align: center;  
  width: 100px;
  position: relative;
  bottom: -7px; 
   right: 20px; 
  float: right; 
}

.row {
	width: 100%;
}

.pnk {
	background-color: pink; 
}
.rd {
	background-color: red; 
}
.grn {
	background-color: green; 
}

/*desktop*/
@media (min-width: 992px) {
	/*.d1, .d2, .d3 */.col-lg-4, .col-lg-6, .col-lg-12{
		
		float: left;   
		box-sizing: border-box;
		}


  
  .col-lg-4 {
    width: 30%;
  }
  
  .col-lg-6 {
    width: 45%;
  
 	}
  .col-lg-12 {
    width: 90%;
  }
	}

/*tablet*/
@media (min-width: 768px) and (max-width: 991px) {
	
	
	/*.d1, .d2, .d3 */ .col-md-4, .col-md-6, .col-md-12{
		float: left;  
		box-sizing: border-box;
		}


  .col-lg-4 {
    width: 30%;
  }
  
  .col-lg-6 {
    width: 45%;
  }

  .col-lg-12 {
    width: 90%;
  }
	}

/*mobile*/
@media (min-width: 767px) {
	
	
	/*.d1, .d2, .d3 */ ..col-sm-4, .col-sm-6, .col-sm-12{
		float: left; 
		box-sizing: border-box;
		}


  .col-sm-4 {
    width: 30%;
  }

  .col-sm-6 {
    width: 45%;
  }
  
  .col-sm-12 {
    width: 90%;
  }

}
